{% extends "base-template.html.twig" %}

{% block title %}Module Page Template{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>A Module Page</h1>
    <p>
        Content
    </p>
{% endblock %}