{% extends "base-template.html.twig" %}

{% block title %}WINDOW TITLE{% endblock %}
{% block meta_description %}The meta description{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>{{test}}</h1>
    <p>
        Content
    </p>
{% endblock %}